cython>=0.29

# make sure to use the oldest numpy version that is acceptable
# for building binaries, since the ABI of numpy is designed to
# be forward-compatible with future releases but not necessarily
# also backward-pcompatible with packages that were compiled
# against later releases.
# numpy 1.16.3 is the oldest release without a major security flaw
# rel: https://snyk.io/vuln/SNYK-PYTHON-NUMPY-73513
# For python 3.9 wheels exist beginning with 1.19.3. So let's take this
numpy==1.19.3

scipy==1.5.4
