cython>=0.29

# make sure to use the oldest numpy version that is acceptable
# for building binaries, since the ABI of numpy is designed to
# be forward-compatible with future releases but not necessarily
# also backward-pcompatible with packages that were compiled
# against later releases.
numpy==1.14.3

scipy==1.0
