.pixelated {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

.logo {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 120px;
    margin-right: auto;
    margin-left: auto;
}
